---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";

import { getCollection } from "astro:content";
import { formatDate } from "../../utils/formatDate";
import LinkBtn from "../../components/ui/LinkBtn.astro";

const allBlog = await getCollection("blog");

const sortBlog = allBlog.sort((a, b) => {
   return (
      new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
   );
});
---

<Layout title="Blog">
   <div class="w-full h-full mt-10 mb-20 px-10">
      <h2 class="text-center mb-12">Blog</h2>

      <div
         class="grid grid-cols-1 sm:grid-cols-[repeat(auto-fit,minmax(min(380px),1fr))] grid-rows-[auto] gap-8"
      >
         {
            sortBlog.map((article) => (
               <div class="grid grid-rows-subgrid row-span-2 p-5 rounded-2xl border border-b-black border-dashed ">
                  <Image
                     src={article.data.image}
                     alt={article.data.name}
                     class="w-full h-auto "
                  />
                  <div>
                     <h3 class="text-center sm:text-left">
                        {article.data.title}
                     </h3>
                     <p class="text-center sm:text-left">{article.data.name}</p>

                     <div class="flex flex-col sm:flex-row items-center justify-between">
                        <span>{formatDate(article.data.pubDate)}</span>

                        <LinkBtn
                           linkTitle={"Info " + article.data.title}
                           pathTitle={
                              "/webdesign-solutions/blog/" + article.data.slug
                           }
                           variant="light"
                        />
                     </div>
                  </div>
               </div>
            ))
         }
      </div>
   </div>
</Layout>
