---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";

import { getCollection } from "astro:content";

const allBlog = await getCollection("blog");
---

<Layout title="Blog">
   <div class="w-full h-full my-12 px-10">
      <h2 class="text-center mb-12">Blog</h2>

      <div class="grid gap-5 justify-center items-center grid-cols-4">
         {
            allBlog.map((article) => (
               <div>
                  <Image
                     src={article.data.image}
                     alt={article.data.name}
                     class="w-[360px]  h-auto"
                  />
                  <h3>{article.data.title}</h3>
                  <p>{article.data.name}</p>

                  <div class="flex items-center justify-between">
                     <span>{article.data.pubDate}</span>

                     <a
                        class="bg-accent rounded-full text-sm font-bold text-text-white px-5 py-1"
                        href={"/webdesign-solutions/blog/" + article.data.slug}
                     >
                        More Info
                     </a>
                  </div>
               </div>
            ))
         }
      </div>
   </div>
</Layout>
